<div class="container-fluid">
  <form role="form" class="form-class">
    <div class="form-content">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"></span>
          <input required type="text" [(ngModel)]="nomeForm" name="nomeForm" class="form-control"
                 id="nomeForm" [placeholder]="'Inserisci il nome della form'">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <survey-creator [model]="surveyCreatorModel"></survey-creator>
    </div>
  </div>
  <hr class="linea">
  <div class="d-flex justify-content-start">
    <div placement="right" [ngbTooltip]='showHintMessage()'>
      <button type="button" class="btn btn-success" (click)="salvaForm()" [disabled]="check()">Salva Form</button>
    </div>
    <button *ngIf="!!formId && form!=''" type="button" class="btn btn-danger" (click)="openConfirmationDialog(form)">Elimina Form</button>
  </div>
</div>

