/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";

.form-class {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: auto;
}

.modal{
  z-index: 1060;
}
