/* You can add global styles to this file, and also import other style files */


.header-questionario{
    background-color: #0d6efd !important;
    color: #fff;
    margin-bottom: 20px;
}

.header-questionario a{
    color: #fff;
}