<select class="form-select" [formControl]="formType">
  <option [value]="null">Seleziona un form</option>
  <option *ngFor="let formElement of forms" [value]="formElement.id">{{ formElement.name }}</option>
</select>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Data di inserimento</th>
    <th scope="col">Form</th>
    <th scope="col">Azioni</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let answer of paginatedAnswers">
    <td>{{ answer.creationDate | date:'dd/MM/yyyy HH:mm' }}</td>
    <td>{{ answer.form.name }}</td>
    <td>
      <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<ngb-pagination (pageChange)="onPageChange()" [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="answers.length"/>
