

  <div class="form-floating filtro-questionario">
    <select class="form-select" [formControl]="formType">
      <option value="">Tutti</option>
      <option *ngFor="let formElement of forms" [value]="formElement.id">{{ formElement.name }}</option>
    </select>
    <label for="floatingSelect">Seleziona un questionario</label>
  </div>

  <ngb-alert *ngIf="paginatedAnswers.length == 0" type="info" [dismissible]="false">
    Nessun risposta da visualizzare!
  </ngb-alert>

  <div *ngIf="paginatedAnswers.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Data di inserimento</th>
      <th scope="col">Questionario</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let answer of paginatedAnswers">
      <td>{{ answer.creationDate | date:'dd/MM/yyyy HH:mm' }}</td>
      <td><span *ngIf="answer.form !== null">{{ answer.form.name }}</span></td>
      <td class="ico-column">
        <a title="Vai al dettaglio della risposta" href="{{answerDetailURL}}{{answer.id}}"><i class="bi bi-search"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination (pageChange)="onPageChange()" [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="answers.length"/>
      <a class="ico-download icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" (click)=downloadFile() >
        <i class="bi bi-filetype-csv"></i>Export
      </a>
  </div>
  
  </div>